.ActionButton {
  background-color: var(--blue);
  border-radius: 2rem;
  color: var(--white);
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0 auto;
  padding: 1rem 2rem;
  text-align: center;
}