.BSbutton {
  background-color: var(--white);
  border-radius: 50%;
  color: var(--blue);
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 1rem 0 0 1rem;
  width: 5rem;
  height: 5rem;
  padding: 0.7rem;
  display: block;
  position: absolute;
  text-align: center;
}