@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@500;600&display=swap');

/*
* font-family: 'Permanent Marker', cursive;
* font-family: 'Poppins', sans-serif;
*/

:root {
  --black: #000;
  --blue: #1572a1;
  --white: #fff;
  --border: #9B9B9B;
}

html,
body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
