.leftSideWithButton {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50vw;
}

.innerContent{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  color: var(--white);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 48px;
  width: 530px;
  height: fit-content;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}