.leftSideWithButton {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}
@media (max-width:991px){
  .leftSideWithButton{
    width: 100%;
  }
}

.innerContent{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  color: var(--white);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  width: 100%;
  padding: 0 10vw;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  transition: all ease 0.2s;
}

@media (max-width:991px){
  .description{
    font-size: 2rem;
  }
}