.right_side{
    position: relative;
    width: 50vw;
    height: 100%;
}
@media (max-width:991px){
    .right_side{
        width: 100%;
        height: 35vh;
    }
}

.optionsList{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.stepsNavigation{

}
